@media only screen and (max-width : 576px){

    #portfolio ul.filter li{
        display: block;
    }
    ul.filter {
        padding-left: 0;
    }
    #ban h2{
        font-size: 34px;

    }
}
@media only screen and (max-width : 768px){
    
    #ban{
        text-align: center;
        padding-top: 120px;
    }
}